@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout {
  min-height: 100%;
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.header {
  height: 60px;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  background: #333333;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.pages {
  padding: 20px;
}

.navbar {
  padding: 0 20px 15px 20px;
  background: #333;
  max-width: 300px;
  width: 100%;
  height: 100%;

  & li {
    padding-top: 15px;
  }

  & li.logo {
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    background: #333333;
    display: flex;
    align-items: center;
    padding-top: 0;
    border-bottom: 1px solid #fff;
  }

  & a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
}

.counter {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #333;
  padding: 10px;
}

.count {
  font-size: 14px;
  margin-bottom: 20px;
  &-m {
    color: #007330;
    font-size: 20px;
  }

  &-s {
    color: #e1017a;
    font-size: 20px;
  }
}

h2 {
  padding: 15px 0;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px 15px;
  cursor: pointer;
}

input {
  border: 1px solid #333;
  outline: none;
  width: 100%;
  padding: 10px 15px;
}

.count-btn {
  background: #007330;
  color: #ffffff;
  margin-right: 10px;

  &.dec {
    background: #e3aa00;
  }
}

.default-btn {
  background: #cecece;
}

.round-btn {
  border-radius: 50%;
  padding: 10px 12px;
}

.dark {
  background: #333333;
  color: #ffffff;
}

.primary {
  background: #006ebb;
  color: #ffffff;
}

.danger {
  background: #fd6e6e;
  color: #ffffff;
}

.highlight {
  color: #e1017a;
}

.mt-1 {
  margin-top: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 600;
}